@using Microsoft.AspNetCore.Identity
@using NikeShop.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="dropdown">
    <a href="#" class="nav-link text-dark" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    </a>

    <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-0 mt-2" aria-labelledby="userDropdown">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Xin chào, @User.Identity?.Name</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item text-danger">Đăng xuất</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Identity/Account/Register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Identity/Account/Login">Đăng nhập</a>
            </li>
        }
    </ul>
</div>